@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

::-webkit-scrollbar {
  width: 6px;  /* Thin scrollbar */
  height: 6px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;  /* Color of the scroll thumb */
  border-radius: 10px;  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker shade on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Firefox */
* {
  scrollbar-width: thin;  /* Makes scrollbar thin */
  scrollbar-color: #888 #f1f1f1;  /* Thumb color and track color */
}
/* globals.css */
@keyframes circle-to-container {
    0% {
      transform: scale(0);
      border-radius: 50%;
    }
    50% {
      transform: scale(1.2);
      border-radius: 20%;
    }
    100% {
      transform: scale(1);
      border-radius: 16px; /* Match the container's border radius */
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .circle-to-container {
    animation: circle-to-container 0.5s ease-out forwards;
  }
  
  .fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }

  .announcement-slider {
    padding-bottom: 40px !important;
  }
  
  .announcement-slider .swiper-button-next,
  .announcement-slider .swiper-button-prev {
    color: #4B5563;
    scale: 0.7;
  }
  
  .announcement-slider .swiper-pagination-bullet {
    background: #4B5563;
  }
  
  .announcement-slider .swiper-pagination-bullet-active {
    background: #3B82F6;
  }

  .announcement-images-slider {
    height: 100%;
    width: 100%;
  }
  
  .announcement-images-slider .swiper-pagination-bullet {
    background: white;
    opacity: 0.6;
  }
  
  .announcement-images-slider .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
  }

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}

.shimmer-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.8s infinite;
}